/******************** Video styling  **********************/

video, #bgvid {
    position: absolute;
    z-index: 0;
    background: url(mel.jpg) no-repeat;
    background-size: 100% 100%;
    top: 0px;
    left: 0px; /* fixed to left. Replace it by right if you want.*/
    max-width: 100%;
/*    width: auto;
    height: auto;*/
}

#content-start {
	margin-top: 70%;
}

nav {
	z-index: 1;
}

/******************** Index styling  **********************/

.btn-spacing {
	margin-top: 30px;
}

/******************** Show Page styling  **********************/

.show-btn {
	margin-top: 15px;
}

/******************** Edit Page styling  **********************/

.edit-form {
	margin-bottom: 10px;
}

/******************** Footer styling  **********************/

.footer-info {
	text-align: center;
}