/******************** Nav styling  **********************/

#navbar {
    
    margin-top: 15px;
}

#logo {
    height: 5em;

}

/******************** Index styling  **********************/

.btn-spacing {
	margin-top: 30px;
}

/******************** Show Page styling  **********************/

.show-btn {
	margin-top: 15px;
}

/******************** Edit Page styling  **********************/

.edit-form {
	margin-bottom: 10px;
}

/******************** Footer styling  **********************/

.footer-info {
	text-align: center;
}