/******************** Index styling  **********************/

.btn-spacing {
	margin-top: 30px;
}

/******************** Edit Page styling  **********************/

.edit-form {
	margin-bottom: 10px;
}

/******************** Footer styling  **********************/

.footer-info {
	text-align: center;
}